#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

IDI_MAIN		ICON	"main.ico"

IDR_MENU MENU {
	POPUP "dummy text"
	{
		MENUITEM "Inspecte", IDM_INSPECT;
		MENUITEM "Capture", IDM_CAPTURE;
		MENUITEM "Key Config", IDM_KEYCONFIG;
		//MENUITEM "明るさ調節", IDM_CONTROL;
		//MENUITEM "全体調整", IDM_GAMMA_CONTROL;
		//MENUITEM "ショートカット作成", IDM_SHORTCUT;
		//MENUITEM "リセット", IDM_RESET;
		//MENUITEM "キー設定", IDM_KEYBOARD;
		//MENUITEM "中断", IDM_STOP;
		//MENUITEM "ポケモンフラッシュ(開始/中断)", IDM_POCKEMON;
		MENUITEM "終了", IDM_EXIT;
	}
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_KEYCONFIG_DIALOG DIALOG 0, 0, 250, 85
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "キー設定" // このWINDOW TITLEはプログラム側で変更されてるので無視されます
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", IDOK, 190, 10, 50, 16
    PUSHBUTTON      "キャンセル", IDCANCEL, 190, 27, 50, 16
	PUSHBUTTON      "デフォルト", IDDEFAULT, 190, 44, 50, 16

	LTEXT           "アクティブウインドウの撮影", IDC_STATIC, 10, 13, 90, 8, SS_LEFT
	EDITTEXT        IDC_EDIT_KEYBIND_ACTIVEWINDOW, 90, 11, 60, 16, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON      "設定", ID_KEYBIND_ACTIVEWINDOW, 155, 10, 30, 16
	
	LTEXT           "デスクトップの撮影", IDC_STATIC, 10, 33, 90, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_KEYBIND_DESKTOP, 90, 30, 60, 16, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON      "設定", ID_KEYBIND_DESKTOP, 155, 30, 30, 16
}